.quotes {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   font-family: 'Arial';
   font-weight: 300;
   color: rgba(227, 227, 227, 0.9);
   gap: 5px;
}

.quotes__author {
  font-weight: 550;
  color: rgba(227, 227, 227, 0.9);
}

.quotes-btn {
  margin-bottom: 5px;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  background-color: rgba(29, 51, 74, 0.4);
  overflow: hidden;
  cursor: pointer;  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0px 0px 0px #000;
  transition: all 700ms ease-in-out;
}

.quotes-btn:hover {
  background-color: var(--clock-backGround);
  transform: scale(1.07, 1.07);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.505), inset 0px 0px 0px #000;
}